* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100%;
    background:#FFF5EE;
    overflow: hidden; /* 动画加了scale后，放大至2倍会撑破body出现滚动条 */
}

img {
    position: fixed; /*使多张背景图片叠在一起*/
    left: 0;
    top: 0;
    width: 100%; /*使每张背景图片铺满屏幕*/
    height: 100%;
}
/* #bg-img1 {
    z-index: 2;
} */

/* :target 用于选取当前活动的目标元素 */
img:target {
    z-index: 3;
}
img:not(:target) {
    z-index: 1;
}

.btns {
    width: 1100px;
    height: 150px;
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    z-index: 9999;
}

.btns ul {
    list-style: none;
    overflow: hidden;
    width: 1100px;
    height: 150px;
}

.btns ul li a {
    margin: 0 5px; 
    width: 200px; 
    height: 150px; 
    float: left; 
    box-sizing: border-box; 
    padding-top: 60px; 
    border-radius: 10px; 
}

.btns ul li a:hover {
    opacity: 0.8;
}

/* 给a标签设置背景图片，并设置背景图片的大小 */
.btns ul li:nth-child(1) a { 
    background-image: url(https://githubrepobucket1-1258277786.cos.ap-shanghai.myqcloud.com/%E7%80%91%E5%B8%83%E6%B5%81%E5%9B%BE%E7%89%87%E7%B4%A0%E6%9D%90/image19.jpg); 
    background-size: 200px 150px; 
}

.btns ul li:nth-child(2) a { 
    background-image: url(https://githubrepobucket1-1258277786.cos.ap-shanghai.myqcloud.com/%E7%80%91%E5%B8%83%E6%B5%81%E5%9B%BE%E7%89%87%E7%B4%A0%E6%9D%90/image20.jpg); 
    background-size: 200px 150px; 
}

.btns ul li:nth-child(3) a { 
    background-image: url(https://githubrepobucket1-1258277786.cos.ap-shanghai.myqcloud.com/%E7%80%91%E5%B8%83%E6%B5%81%E5%9B%BE%E7%89%87%E7%B4%A0%E6%9D%90/image22.jpg); 
    background-size: 200px 150px; 
}

.btns ul li:nth-child(4) a { 
    background-image: url(https://githubrepobucket1-1258277786.cos.ap-shanghai.myqcloud.com/%E7%80%91%E5%B8%83%E6%B5%81%E5%9B%BE%E7%89%87%E7%B4%A0%E6%9D%90/image26.jpg); 
    background-size: 200px 150px; 
}
.btns ul li:nth-child(5) a { 
    background-image: url(https://githubrepobucket1-1258277786.cos.ap-shanghai.myqcloud.com/%E7%80%91%E5%B8%83%E6%B5%81%E5%9B%BE%E7%89%87%E7%B4%A0%E6%9D%90/image28.jpg); 
    background-size: 200px 150px;  
}

/* 设置点击链接时，链接背景图片所对应的img的动画效果，为了简略没作浏览器兼容处理 */
#bg_img1:target {
    animation: fromLeft 1s  ease-out;
}

#bg_img2:target {
    animation: fromTop 500ms ease-out;
}

#bg_img3:target {
    animation: scale2Big 1s ease-in;
}

#bg_img4:target {
    animation: scale2Small 1s ease-out;
}

#bg_img5:target {
    animation: rotate 700ms ease-in-out;
}

/* left -50% 到 left 0 */
@keyframes fromLeft {
    0% {
        transform: translateX(-50%);
    }
  100% {
        transform: translateX(0);
    }
}

/* top 350px 到 top 0 */
@keyframes fromTop {
    0% {
        transform: translateY(350px);
    }
    100% {
        transform: translateY(0);
    }
}

/* scale 0.1 到 scale 1.0 */
@keyframes scale2Big {
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(1.0);
    }
}

/* sacle 2.0 到 scale 1.0 */
@keyframes scale2Small {
    0% {
        transform: scale(2.0);
    }
    100% {
        transform: scale(1.0);
    }
}

/* rotate -360 到 0; scale0.1 到 scale 1.0 */
@keyframes rotate {
    0% {
        transform: rotate(-360deg) scale(0.1);
    }
    100% {
        transform: rotate(0deg) scale(1.0);
    }
}